<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">联系我们</h2>
                    <h3 class="section-subheading text-muted">详细合作方式及问题咨询请联系我们！</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="control-group form-group">
                                    <p class="help-block text-center" style="margin-top:5px;font-style:italic;font-weight: 400;font-size: 25px;color:white;">
                                        电话：<a href="tel:18508218993" class="call">18508218993</a>
                                    </p>
                                </div>
                                <div class="control-group form-group">
                                    <p class="help-block text-center" style="margin-top:5px;font-style:italic;font-weight: 400;font-size: 25px;color:white;">
                                        QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=776523463&site=qq&menu=yes">776523463</a>
                                    </p>
                                </div>
                                <div class="control-group form-group">
                                    <p class="help-block text-center" style="margin-top:5px;font-style:italic;font-weight: 400;font-size: 25px;color:white;">
                                        邮箱：<a href=mailto:lensenquant@gmail.com>lensenquant@gmail.com</a>
                                    </p>
                                </div>
                                <div class="control-group form-group">
                                    <p class="help-block text-center" style="margin-top:5px;font-style:italic;font-weight: 400;font-size: 25px;color:white;">
                                        微信加好友👉
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-group form-group">
                                    <img src="../img/contact/wechat-qrcode.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="control-group form-group">
                                        <img src="../img/contact/wechat-qrcode.png" class="img-responsive">
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
